/* enabled */
.spenibus_html5_media_toggle_button {
   -moz-image-region: rect(0px 24px 24px  0px);
}
[iconsize="small"] .spenibus_html5_media_toggle_button {
   -moz-image-region: rect(0px 40px 16px 24px);
}


/* disabled */
.spenibus_html5_media_toggle_button[data-enabled="false"] {
   -moz-image-region: rect(24px 24px 48px  0px);
}
[iconsize="small"] .spenibus_html5_media_toggle_button[data-enabled="false"] {
   -moz-image-region: rect(24px 40px 40px 24px);
}




#spenibus_html5_media_toggle_button_support {
   list-style-image:url('chrome://html5-media-toggle-spenibus/content/button-toggle.png');
}


#spenibus_html5_media_toggle_button_autoplay {
   list-style-image:url('chrome://html5-media-toggle-spenibus/content/button-autoplay.png');
}